<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.7" package="com.adotob__llc.jbb" android:versionCode="8">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21" />
	<application android:icon="@drawable/jbbicon" android:label="Jailbreak">
	</application>
</manifest>