<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="xamarinios10" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Geolocator" version="1.1.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.MapExtend" version="1.2.0.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.1.6" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="1.5.1.6471" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Maps" version="1.5.1.6471" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.16.2" targetFramework="xamarinios10" />
</packages>